<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <title>HomeTask2</title>
</head>
<body>
    <nav>
        <h3>Задание.</h3>
        <p> Создать страницу, на которой будет форма для ввода имени и электронной почты, при отправке которой будет
            создан cookie файл с данными пользователя.
            Также будет произведено перенаправление на страницу приветствия, где будет отображаться имя пользователя.
            На странице приветствия должна быть кнопка "Выйти", при нажатии на которую будет удален cookie файл с
            данными пользователя и произведено перенаправление на страницу ввода имени и электронной почты.</p>
        {% if session.username %}
            <h1> Привет, {{ session.username }} </h1>
<!--            <a href="/logout/">Выход</a>-->
            <a href="{{ url_for('logout') }}">Выход</a>
        {% else %}
<!--            <a href="/login/">Выход</a>-->
            <a href="{{ url_for('login') }}">Авторизация</a>
        {% endif %}
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>